@media (max-width: 767px) {
.center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
}
.top{
    height: 735px;
    align-items: center;
&__heading{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-top: 238px;
}
&__text{
   font-size: 14px;
   line-height: 22px;
   text-align: center;
   margin-bottom: 32px;
}
}
.game__box{
    gap:32px;
}
.game__box-img{
   width: 343px;
   height: 100%;
}
.seasons-box{
    gap:64px;
    padding-top: 51px;
    padding-bottom: 85px;
}
.seasons__heading{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
.seasons__text{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.seasons__button{
    align-self: center;
}
.seasons__picture-img{
    width: 344px;
    height: 236px;
}

.words-box{
    gap:64px;
    padding-top: 51px;
    padding-bottom: 90px;
}
.words__heading{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
.words__text{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.words__picture-img{
    width: 344px;
    height: 231px;
}
.riddles-box{
    padding-top: 51px;
    padding-bottom: 487px;
}
.riddles{
    width:343px;
}
.riddles__heading{
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}
.riddles__text{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
}
